<div id="form">
    <div id="content">
        <div class="menubar fixed">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">
                View existing resource type details
                <!--<small class="hidden-xs">
                    <strong>This form has validation</strong>
                </small>-->
            </div>
        </div>

        <div class="content-wrapper">
            <div *ngIf="resourceType">
                <form role="form" action="#" method="post" class="form-horizontal" id="new-customer" novalidate="novalidate">
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Id</label>
                        <div class="col-sm-10 col-md-8 detail">
                            <span>{{resourceType.id}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Name</label>
                        <div class="col-sm-10 col-md-8 detail">
                            <span>{{resourceType.name}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Schema</label>
                        <div class="col-sm-10 col-md-8 detail">
                            <span>{{resourceType.schema}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Schema URL</label>
                        <div class="col-sm-10 col-md-8 detail">
                            <span>{{resourceType.schemaUrl}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Payload Type</label>
                        <div class="col-sm-10 col-md-8 detail">
                            <span>{{resourceType.payloadType}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Creation Date</label>
                        <div class="col-sm-10 col-md-8 detail">
                            <span>{{resourceType.creationDate | date:'medium' }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Modification Date</label>
                        <div class="col-sm-10 col-md-8 detail">
                            <span>{{resourceType.modificationDate | date:'medium' }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-md-2 control-label">Index Mapper Class</label>
                        <div class="col-sm-10 col-md-8 detail">
                            <span>{{resourceType.indexMapperClass}}</span>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="resourceType.indexFields.length > 0">
                        <label class="col-sm-2 col-md-2 control-label">Index Fields</label>
                        <div class="col-sm-10 col-md-8 detail" *ngFor="let indexField of resourceType.indexFields;
                        let index=index" [class.col-sm-offset-2]="index != 0">
                            <span>{{indexField.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>{{indexField.path}}</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>{{indexField.type}}</span>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="btn btn-default" (click)="goBack()">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



