<div class="menubar fixed">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">Resource Types</div>
    <!--<form class="search hidden-xs">
        <i class="fa fa-search"></i>
        <input type="text" name="q" placeholder="Search id, subject..." />
        <input type="submit" />
    </form>-->
    <a class="new-user btn btn-success pull-right" (click)="modal.open()">
        <span>New resource type</span>
    </a>
</div>

<div class="content-wrapper">
    <p>Here you will be able to browse resource types, add new ones and edit/delete existing ones.</p>

    <!--<h2>My Resource Types</h2>-->
    <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
    <!--<div *ngIf="resourceTypePage">Found {{resourceTypePage.total}} results</div>-->

    <div class="row users-list" *ngIf="resourceTypePage">
        <div class="col-md-12">
            <div class="row headers">
                <div class="col-sm-1 header select-users">
                    <input type="checkbox">
                </div>
                <div class="col-sm-2 header hidden-xs">
                    <label><span>Name</span></label>
                </div>
                <div class="col-sm-2 header hidden-xs">
                    <label><span>Payload Type</span></label>
                </div>
                <div class="col-sm-2 header hidden-xs">
                    <label><span>Creation Date</span></label>
                </div>
                <div class="col-sm-2 header hidden-xs">
                    <label><span>Modification Date</span></label>
                </div>
                <div class="col-sm-3 header hidden-xs">
                    <label><span>Actions</span></label>
                </div>
            </div>
            <div class="row user" *ngFor="let resourceType of resourceTypePage.results">
                <div class="col-sm-1 avatar">
                    <input type="checkbox" name="select-user">
                </div>
                <div class="col-sm-2">
                    <div>{{resourceType.name}}</div>
                </div>
                <div class="col-sm-2">
                    <div>{{resourceType.payloadType}}</div>
                </div>
                <div class="col-sm-2">
                    <div>{{resourceType.creationDate | date:'medium' }}</div>
                </div>
                <div class="col-sm-2">
                    <div>{{resourceType.modificationDate | date:'medium' }}</div>
                </div>
                <div class="col-sm-3">
                    <div><a (click)="gotoDetail(resourceType)">Click to view full resource type details</a></div>
                </div>
            </div>
        </div>
    </div>

    <!--<div *ngIf="selectedResourceType">
        <h2>{{selectedResourceType.name}} details!</h2>
        <div><label>id: </label>{{selectedResourceType.id}}</div>
        <div>
            <label>name: </label>
            <input [(ngModel)]="selectedResourceType.name" placeholder="name"/>
        </div>
    </div>-->



    <!--<ul class="resourceTypes" *ngIf="resourceTypePage">
        <li *ngFor="#resourceType of resourceTypePage.results">
            <span class="badge">{{resourceType.name}}</span> {{resourceType.schema}}
        </li>
    </ul>-->
</div>
