<div id="content">
    <div class="menubar fixed">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <div class="page-title">Resources</div>
        <!--<form class="search hidden-xs">
            <i class="fa fa-search"></i>
            <input type="text" name="q" placeholder="Search id, subject..." />
            <input type="submit" />
        </form>-->
        <a class="new-user btn btn-success pull-right" href="#">
            <span>New resource</span>
        </a>
    </div>

    <div class="content-wrapper">
        <p>Here you will be able to browse resources, add new ones and edit/delete existing ones.</p>
    </div>
</div>