<div id="form">
    <div id="content">
        <div class="menubar fixed">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>

            <div class="page-title">
                New resource
                <small class="hidden-xs">
                    <strong>This form has validation</strong>
                </small>
            </div>
        </div>

        <div class="content-wrapper">
            <!--<resource-form></resource-form>-->
        </div>
    </div>
</div>