#docs #api-docs {
    margin-left: 0px;
}

#docs #api-docs #methods .method .method-section {
    padding-top: 0;
}

#docs #api-docs #methods {
    background: #003f3c none repeat scroll 0 0;
}

#docs #api-docs #methods .method:nth-child(2) .method-section .method-description {
    border-top: 1px solid #e5e7eb;
    padding: 40px 30px 0;
}

#docs #api-docs #methods .method:nth-child(1) .method-section .method-description {
    border-top: 0px;
}

#docs #api-docs #methods .method .method-section .method-example {
    padding: 40px 30px;
}

#docs #api-docs #methods .method:nth-child(2) .method-section .method-example {
    border-top: 1px solid #000;
    box-shadow: 0 1px rgba(255, 255, 255, 0.17) inset;
    padding: 40px 30px;
}

#docs #api-docs #methods .method:nth-child(1) .method-section .method-example {
    border-top: 0 none;
    box-shadow: none;
    padding-top: 35px;
}

#docs #content .page-title {
    border-right: 1px solid #e6e6e6;
    bottom: 0;
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    padding: 20px 30px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

/*To be moved to resource-type.component.css*/

/*#users #content .content-wrapper .users-list .headers .header label {
  height: auto;
}

#users #content .content-wrapper .users-list .headers .header label span {
  background: #fff none repeat scroll 0 0;
  color: #333;
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.14s linear 0s;
}*/

/***********************************************/